.appointment-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.appointment-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(243, 105, 105, 0.5);
}
.appointment-image img{
    width: 50%;
    height: 50%;
}



@media (min-width: 320px) and (max-width: 600px){
    .appointment-card{
        margin: 10px 10px 10px 0;
        justify-content: space-between;
    }
    .appointment-image{
        width: 55px;
        height: 55px;
        margin: 5px;
    }
}